.cartContainer {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cartContainer h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.emptyCart {
    color: #888;
    font-size: 16px;
}

.cartList {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*.cart-item {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin-bottom: 16px;*/
/*    border-bottom: 1px solid #eee;*/
/*    padding-bottom: 10px;*/
/*}*/

/*.item-image {*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    object-fit: cover;*/
/*    margin-right: 16px;*/
/*    border-radius: 8px;*/
/*}*/

/*.item-details h4 {*/
/*    margin: 0;*/
/*    font-size: 18px;*/
/*}*/

/*.item-details p {*/
/*    margin: 4px 0 0;*/
/*    color: #555;*/
/*}*/

/*.remove-button {*/
/*    margin-left: auto;*/
/*    background-color: transparent;*/
/*    color: #d11a2a;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    font-weight: bold;*/
/*}*/

/*.remove-button:hover {*/
/*    text-decoration: underline;*/
/*}*/

.checkout {
    text-align: right;
    margin-top: 20px;
}

.checkout button {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.checkout button:hover {
    background-color: #333;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 12px 24px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.backButton {
    background-color: #ffffff;
    color: #111;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.backButton:hover {
    background-color: #f0f0f0;
}
